<template bindable="router, auth, functions">
	
	<div class="grid-block horizontal">
		
		
		<nav class="grid-block">
			<ul>
				<li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
					<!-- Set Correct Content For Toolbar -->
					${row.isActive ? functions.setToolbarContent(row.title) : ''}
					<a href.bind="row.href" mousedown.delegate="functions.resetFilter()"><icon if.bind="row.settings.icon" icon="${row.settings.icon}"></icon>${row.title}</a>
				</li>
			</ul>
		</nav>
		
		<nav class="grid-block shrink navUi">
			<ul>
				<li>
					<icon icon="calendar" color="#FFFFFF" style="padding: 0"></icon>
				</li>
				<!-- START DATE -->
				<li if.bind="router.history.fragment == '/verkauf' || router.history.fragment == '/kommission'">
					<input datepicker class="datepicker main" type="text" name="startdate" id="startdate" value.bind="functions.dates.startdate">
				</li>
				<li if.bind="router.history.fragment == '/verkauf' || router.history.fragment == '/kommission'">
					<icon icon="arrow-thick-right-fill-large" color="#FFFFFF" style="padding: 0"></icon>
				</li>
				<!-- END DATE -->
				<li>
					<input datepicker class="datepicker main" type="text" name="enddate" id="enddate" value.bind="functions.dates.enddate">
				</li>
				<li>
					<icon style="padding: 0 1.5rem"></icon>
				</li>
				
				<!-- FILTER -->
				<li if.bind="auth.isAuthenticated">
					<a href="#" click.delegate="functions.toggleToolbar('filter', '#series')" class="${functions.toolbar.filter ? 'active' : ''} ${functions.filterApplied ? 'highlight' : ''}">
						<icon icon="funnel"></icon>Filter
					</a>
				</li>

				<!-- EXPORT -->
				<li if.bind="auth.isAuthenticated">
					<a href="#" click.delegate="functions.toggleToolbar('export', '')" class="${functions.toolbar.export ? 'active' : ''}">
						<icon icon="share-boxed"></icon>Export
					</a>
				</li>
				
				<li if.bind="!auth.isAuthenticated">
					<a href="#/login">Login</a>
				</li>
				<li if.bind="auth.isAuthenticated">
					<a href="#" click.delegate="auth.logout()">
						<icon icon="account-logout"></icon>Logout
					</a>
				</li>
			</ul>
		</nav>
		<graphic if.bind="auth.isAuthenticated" class="grid-block middle shrink" src="${auth.user.image ? auth.user.image : ''}" width="2rem" height="2rem" border="50%"></graphic>
		
	</div>
		
</template>