<template bindable="router, auth, functions">
	
	<div class="grid-block horizontal">
		
		<!-- Logo -->
		<div class="grid-block">
			<graphic class="grid-block middle shrink" src="application/assets/images/logo.png" width="4rem" height="2rem"></graphic>
		</div>
		
		<!-- Navigation -->
		<div class="grid-block shrink">
			<nav>
				<ul>

					<li if.bind="auth.isAuthenticated" class="iconLink ${router.history.fragment == '/handbuch' ? 'active' : ''}">
						<a href="#/handbuch">
							<icon icon="book"></icon>
						</a>
					</li>

					<!--
					<li class="${router.navigation[3].isActive ? 'active' : ''}">
					<!-- Set Correct Content For Toolbar -->
					<!--
					${router.navigation[3].isActive ? functions.setToolbarContent(router.navigation[3].title) : ''}
					<a href.bind="router.navigation[3].href" mousedown.delegate="functions.resetFilter()"><icon if.bind="router.navigation[3].settings.icon" icon="${router.navigation[3].settings.icon}"></icon>${router.navigation[3].title}</a>
				</li>
				-->
								
				</ul>
			</nav>
		</div>
		
	</div>
	
</template>