<template bindable="functions">
	
	<div class="grid-content vertical" id="lagerbestand">
		<h1>Lagerbewertung</h1>
		<ul>
			<li>Datum: <span class="value">${functions.dates.keydate}</span></li>
			<li>Format:  <span class="value format">Alle Formate</span></li>
			<li>Lager:  <span class="value warehouse">Alle Lager</span></li>
			<li>Artikel im Lager: <span class="value amount"></span></li>
			<li>Exemplare: <span class="value exemplare"></span></li>
			<li>Gesamtwert: <span class="value totalValue"></span></li>
		</ul>
	</div>
	
</template>