<template bindable="router, functions">
	
	<!-- LAGERBEWERTUNG -->
	<div class="grid-content vertical" id="lagerbewertung" if.bind="router.history.fragment == '/lagerbewertung'">
		<h1>Lagerbewertung</h1>
		<ul>
			<li>Stichtag: <span class="value">${functions.dates.enddate}</span></li>
			<li>Format:  <span class="value format">Alle Formate</span></li>
			<li>Lager:  <span class="value warehouse">Alle Lager</span></li>
			<li>Artikel im Lager: <span class="value amount"></span></li>
			<li>Exemplare: <span class="value exemplare"></span></li>
			<li class="lineAbove">Gesamtwert €: <span class="value totalValue"></span></li>
		</ul>
		
		<h1>Anleitung</h1>
		<ol>
			<li class="">Stichtag auswählen</li>
			<li class="">Daten aktualisieren</li>
		</ol>
	</div>
	
	<!-- VERKAUF -->
	<div class="grid-content vertical" id="verkauf" if.bind="router.history.fragment == '/verkauf'">
		<h1>Artikelverkäufe</h1>
		<ul>
			<li>Zeitraum: <span class="value">${functions.dates.startdate} - ${functions.dates.enddate} </span></li>
			<li>Lieferant:  <span class="value vendor">Alle Lieferanten</span></li>
			<li>Shop:  <span class="value shops">Alle Shops</span></li>
			<li>Aufträge:  <span class="value rechnungen"></span></li>
			<li>Positionen:  <span class="value verkauf"></span></li>
			<li>Exemplare: <span class="value exemplareverkauft"></span></li>
			<li class="lineAbove">Umsatz € (netto): <span class="value umsatzNetto"></span></li>
			<li>Gewährter Rabatt €: <span class="value gesamtRabatt"></span></li>
		</ul>
	</div>
	
	<!-- KOMMISSION -->
	<div class="grid-content vertical" id="verkauf" if.bind="router.history.fragment == '/kommission'">
		<h1>Auswertung</h1>
		<ul>
			<li>Zeitraum: <span class="value">${functions.dates.startdate} - ${functions.dates.enddate} </span></li>
			<li>Lieferant:  <span class="value vendor">Alle Lieferanten</span></li>
			<li>Shop:  <span class="value shops">Alle Shops</span></li>
			<li>Aufträge:  <span class="value rechnungen"></span></li>
			<li>Positionen:  <span class="value verkauf"></span></li>
			<li>Exemplare: <span class="value exemplareverkauft"></span></li>
			<li class="lineAbove dashed">Umsatz € (netto): <span class="value umsatzNettoKommission"></span></li>
			<li>Rabatt %: <span class="value"><input type="text" class="align-right ekrabatt" value.bind="functions.ekrabatt"></span></li>
			<li class="lineAbove">Gesamt-EK €: <span class="value gesamtEK"></span></li>
		</ul>
		
		<h1>Anleitung</h1>
		<ol>
			<li class="">Zeitraum auswählen</li>
			<li class="">Filtern</li>
			<li class="">Korrigieren</li>
			<li class="">Rabatt einfügen</li>
			<!--<li class="">Gruppieren</li>-->
			<li class="">Exportieren</li>
		</ol>
	</div>
	
	<!-- HANDBUCH -->
	<div class="grid-content vertical" id="handbuch" if.bind="router.history.fragment == '/handbuch'">
		<div class="grid-block vertical">
			<div class="grid-block vertical shrink" repeat.for="category of functions.$D.handbook.categories">
				<h2>${category.title}</h2>
				<ul>
					<li repeat.for="chapter of functions.$D.handbook.chapters" if.bind="chapter.category_id == category.id" id="${chapter.id}" title="${chapter.title} entfernen">
						<icon icon="trash" click.trigger="functions.deleteChapter(chapter.id)" if.bind="functions.$T.edit.status" class="deleteButton" data-category="category.id"></icon>
						<a click.delegate="functions.$D.handbook.currentPDF = chapter.pdf">${chapter.title}</a>
						<!--
						<modal title="Wirklich löschen?" size="small" id="hcrud-${chapter.id}" icon="warning">
							<p>Sind Sie sich sicher, dass sie das Kapitel ${chapter.title} wirklich löschen wollen?</p>
						</modal>
						-->
					</li>
				</ul>
			</div>
		</div>
		
		
		
		
			
			
		
		
		
	</div>
	
</template>