<template bindable="functions, router">
		
	<!-- FILTER -->	
	<div class="grid-content content hide" id="filter">
	
		<!-- FILTER LAGERBEWERTUNG -->
		<form class="grid-block vertical ${router.history.fragment == '/lagerbewertung' ? '' : 'hide'}">
			<div class="grid-block horizontal">
				
				<div class="grid-block vertical third">
					<!-- ARTIKELNUMMER -->
					<div class="row">
						<label class="three columns" for="article.artikelnr">Artikelnummer:</label>
						<div class="nine columns">
							<input type="text" name="article.artikelnr" id="article.artikelnr" placeholder="Artikelnummer ..." value.bind="article.artikelnr.value" keyup.delegate="functions.updateFilter('article.artikelnr', article.artikelnr.value)">
						</div>
					</div>
					<!-- BEZEICHNUNG -->
					<div class="row">
						<label class="three columns" for="article.bezeichnung">Bezeichnung:</label>
						<div class="nine columns">
							<input type="text" name="article.bezeichnung" id="article.bezeichnung" placeholder="Bezeichnung ..." value.bind="article.bezeichnung.value" keyup.delegate="functions.updateFilter('article.bezeichnung', article.bezeichnung.value)">
						</div>
					</div>
				</div>
				
				<div class="grid-block vertical third">
					<!-- LAGER -->
					<div class="row">
						<label class="three columns" for="article.lagerID">Lager:</label>
						<div class="nine columns">
							<select name="article.lager" id="article.lager" ref="article.lager" change.delegate="functions.updateFilter('article.lager', article.lager.value)">
								<option value="">Alle Lager</option>
								<option repeat.for="warehouse of functions.$D.allWarehouses" value.bind="warehouse.LAGER">${warehouse.LAGER}</option>
							</select>
						</div>
					</div>
					<!-- FORMAT -->
					<div class="row">
						<label class="three columns" for="article.gruppe">Format:</label>
						<div class="nine columns">
							<select name="article.gruppe" id="article.gruppe" ref="article.gruppe" change.delegate="functions.updateFilter('article.gruppe', article.gruppe.value)">
								<option value="">Alle Formate</option>
								<option value="Bücher, Hörbücher">Bücher, Hörbücher</option>
								<option value="DVDs, CDs, MP3s, Hörspiele">DVDs, CDs, MP3s, Hörspiele</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="grid-block vertical third">
					<!-- LETZTER VERKAUF -->
					<div class="row">
						<label class="three columns" for="article.letzterverkauf">Letzter Verkauf:</label>
						<div class="nine columns">
							<input type="text" name="article.letzterverkauf" id="article.letzterverkauf" placeholder="Letzter Verkauf ..." value.bind="article.letzterverkauf.value" keyup.delegate="functions.updateFilter('article.letzterverkauf', article.letzterverkauf.value)">
						</div>
					</div>
				</div>
			</div>
			
			<div class="grid-block horizontal shrink">
				<div class="row">
					<button class="button shrink small right" type="reset" mousedown.trigger="functions.resetFilter('#programs')"><icon icon="reload"></icon>Filter zurücksetzen</button>
					<div class="button shrink small right disabled itemCount">0 Artikel gefunden</div>
				</div>
			</div>
		</form>
		
		
		<!-- FILTER VERKAUF -->
		<form class="grid-block vertical ${router.history.fragment == '/verkauf' ? '' : 'hide'}">
			<div class="grid-block horizontal">
				
				<div class="grid-block vertical third">
					<!-- ARTIKELNUMMER -->
					<div class="row">
						<label class="three columns" for="sale.artikelnr">Artikelnummer:</label>
						<div class="nine columns">
							<input type="text" name="sale.artikelnr" id="sale.artikelnr" placeholder="Artikelnummer ..." value.bind="sale.artikelnr.value" keyup.delegate="functions.updateFilter('sale.artikelnr', sale.artikelnr.value)">
						</div>
					</div>
					<!-- BEZEICHNUNG -->
					<div class="row">
						<label class="three columns" for="sale.bezeichnung">Bezeichnung:</label>
						<div class="nine columns">
							<input type="text" name="sale.bezeichnung" id="sale.bezeichnung" placeholder="Bezeichnung ..." value.bind="sale.bezeichnung.value" keyup.delegate="functions.updateFilter('sale.bezeichnung', sale.bezeichnung.value)">
						</div>
					</div>
				</div>
				
				<div class="grid-block vertical third">
					<!-- LAGER -->
					<div class="row">
						<label class="three columns" for="sale.lagerID">Lager:</label>
						<div class="nine columns">
							<select name="sale.lager" id="sale.lager" ref="sale.lager" change.delegate="functions.updateFilter('sale.lager', sale.lager.value)">
								<option value="">Alle Lager</option>
								<option repeat.for="warehouse of functions.$D.allWarehouses" value.bind="warehouse.LAGER">${warehouse.LAGER}</option>
							</select>
						</div>
					</div>
					<!-- LIEFERANT -->
					<div class="row">
						<label class="three columns" for="sale.lieferant">Lieferant:</label>
						<div class="nine columns">
							<select name="sale.lieferant" id="sale.lieferant" ref="sale.lieferant" change.delegate="functions.updateFilter('sale.lieferant', sale.lieferant.value)">
								<option value="">Alle Lieferanten</option>
								<option repeat.for="vendor of functions.$D.allVendors" value.bind="vendor.lieferant">${vendor.lieferant}</option>	
							</select>
						</div>
					</div>
				</div>
				
				<div class="grid-block vertical third">
					<!-- SHOP -->
					<div class="row">
						<label class="three columns" for="sale.letzterverkauf">Shop:</label>
						<div class="nine columns">
							<input type="text" name="sale.shop" id="sale.shop" placeholder="Shop ..." value.bind="sale.shop.value" keyup.delegate="functions.updateFilter('sale.shop', sale.shop.value)">
						</div>
					</div>
					<!-- STEUER -->
					<div class="row">
						<label class="three columns" for="sale.steuersatz">Steuersatz:</label>
						<div class="nine columns">
							<select name="sale.steuersatz" id="sale.steuersatz" ref="sale.steuersatz" change.delegate="functions.updateFilter('sale.steuersatz', sale.steuersatz.value)">
								<option value="">Alle Steuersätze</option>
								<option value=" 1">1 - Österreich regulär (20%)</option>
								<option value=" 2">2 - Österreich ermäßigt (10%)</option>
								<option value=" 3">3 - Deutschland regulär (19%)</option>
								<option value=" 4">4 - Deutschland ermäßigt (7%)</option>
								<option value="10">10 - Innergemeintschaftlich (0%)</option>
								<option value="20">20 - Export (0%)</option>	
							</select>
						</div>
					</div>
				</div>
			</div>
			
			<div class="grid-block horizontal shrink">
				<div class="row">
					<button class="button shrink small right" type="reset" mousedown.trigger="functions.resetFilter('#programs')"><icon icon="reload"></icon>Filter zurücksetzen</button>
					<div class="button shrink small right disabled itemCount">0 Artikelverkäufe gefunden</div>
				</div>
			</div>
		</form>
	
	</div>
	
		
	<!-- EXPORT -->	
	<div class="grid-content content horizontal hide" id="export">
		<button class="hollow shrink" click.delegate="functions.exportPDF()">
			Als PDF exportieren
		</button>
		<button class="hollow shrink">
			Als XLS exportieren
		</button>

	</div>

	
</template>